.poker__table {
    max-width: 1000px;
    width: 100%;
    min-height: 600px;
    position: relative;
    background-image: url("../../images/poker-table.png");
    background-color: #ffffff55;
    background-position: center;
    background-size: cover;
    box-shadow: 0px 0px 10px #fff;

}
.poker__table--title {
    position: absolute;
    top: -1%;
    right: 12%;
    font-size: 3.5rem;
    color: #fff;
}

.poker--option {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    min-width: 350px;
}

.poker--option button {
    border: none;
    border-radius: .5rem;
    padding: .4rem 1rem;
    background-color: orange;
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
}

.poker--option input {
    width: 50px;
    height: 35px;
}

.player-container,
.rival-container {
    width: 200px;
    height: 190px;
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
}

.player-container {
    top: 55%;
    left: 20%;
}

.rival-container-1 {
    top: 55%;
    right: 20%;
}

.rival-container-2 {
    top: 25%;
    right: 0;
}
.rival-container-3 {
    top: 25%;
    left: 0;
}

.player-container .player-box,
.rival-container .player-box {
    position: absolute;
    top: 10%;
    right: -15%;
    height: 120px;
    width: 150px;
    border: none;
}

.player-container--header {
    display: flex;
    align-items: center;
    gap: .5rem;
    z-index: 1;
}

.player-container--header h2 {
    color: #fff;
   
}

.img-box {
    width: 70px;
    height: 70px;
    border: 2px solid #fff;
    border-radius: 50%;
    padding: .25rem;
    background-color: rgba(178, 236, 16, 0.856);
}

.img-box img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.rival-container .img-box {
    background-color: #fff;
    border: 2px solid rgba(178, 236, 16, 0.856);
}

.card1-img {
    width: 50% !important;
    height: 100px !important;
    transform: rotate(-2deg) translateY(5px);
    object-fit: cover;
}

.card2-img {
    width: 50% !important;
    height: 100px !important;
    position: absolute;
    left: 35%;
    top: 10%;
    transform: rotate(10deg);
    object-fit: cover;
}

.bet-value {
    color: #fff;
    position: absolute;
    top: -5%;
    left: 45%;
}

.diller-container {
    width: 400px;
    height: 110px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: .5rem;
}

.diller-img {
    width: 80px;
    height: 100%;
}

.player-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-info span {
    color: #e9c966;
    font-size: 1.2rem;
}

.poker-winner {
    position: absolute;
    top: -15%;
    left: 0;
    width: 120%;
    height: 125%;
    border-radius: 50%;
    border: 2px solid #e9c966aa;
    box-shadow: 0px 0px 35px #e9c966;
    z-index: 0;
}

.btn-disable {
    opacity: .5;
    cursor: default !important;
}

.fold {
    opacity: .5;
}

.summary {
    color: #fff;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 40%;
    display: flex;
    flex-direction: column;
}


@media screen and (max-width: 1000px) {

    .arrow-back {
        top: 10px;
    }

    .poker--option {
        bottom: -5%;
    }
}

@media screen and (max-width: 800px) {

    .player-container,
    .rival-container {
        width: 150px;
        height: 150px;
    }

    .player-container .player-box,
    .rival-container .player-box {
        height: 90px;
        width: 100px;
    }

    .card1-img {
        width: 50% !important;
        height: 70px !important;
    }
    
    .card2-img {
        width: 50% !important;
        height: 70px !important;
    }

    .player-container--header h2 {
        font-size: 1.2rem;
    }
    .img-box {
        width: 40px;
        height: 40px;
    }

    .diller-container {
        width: min-content;
        height: 70px;
    }
    
    .diller-img {
        width: 50px;
        height: 100%;
    }
    
    .poker--option {
        bottom: -5%;
    }
}

@media screen and (max-width: 600px) {
    .poker__table--title {
        top: 5%;
        right: 10%;
        font-size: 2.5rem;
    }
    
    .diller-container {
       top: 15%;
    }

    .player-container {
        top: 60%;
        left: 5%;
    }
    
    .rival-container-1 {
        top: 60%;
        right: 5%;
    }
    
    .rival-container-2 {
        top: 34%;
        right: 1%;
    }
    .rival-container-3 {
        top: 34%;
        left: 0;
    }

    .bet-value {
        font-size: .8rem;
    }

}

@media screen and (max-width: 450px) {
    .summary {
        top: 27%;
        font-size: .8rem;
    }
}