.about-page {
    min-height: 100vh;
}

.about-page__container {
    max-width: 1000px;
    padding: 10rem 1rem 0;
    margin: 0 auto;
}

.about-page__container  h1{
    color: #fff;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.about-page__container  p{
    color: #fff;
    font-size: 1.2rem;
    max-width: 1000px;
    padding-bottom: 5rem;
}

@media screen and (max-width: 600px) {
    .about-page__container  h1{
        font-size: 2rem;
    }
    .about-page__container p {
        font-size: 1rem;
    }
}