.game__container {
    background-color: rgba(055, 055, 055);
    /* background-image: url("../../images//game-frame-bg.jpg"); */
    color: #fff;
    border-radius: 1.5rem;
    box-shadow: 0px 0px 20px 1px #dedede;
    margin-bottom: 10rem;
}