.app {
  background-color: #1f1d1d;
}

.game-frame--section {
  background-image: url("./images/game-frame-bg.jpg");
  padding: 15rem 0 1rem;
  position: relative
}

.game-frame--section::before {
  position: absolute;
  content: "";
  top: 0;
  width: 100%;
  height: 100px;
  background-image: linear-gradient(180deg, #1f1d1d, transparent);
}

.table {
  background-image: url("./images/bg1.jpg ");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: relative;
  display: grid;
  place-items: center;
  position: relative;
  overflow: hidden;
}

.table::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .4;
}

.end-game__modal {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  /* background-color: #00000055; */
  background-image: url("./images//end-game.png");
  background-size: cover;
  background-position: center;
  z-index: 1;
  display: grid;
  place-items: center;
  opacity: 0;
  animation: flade 3s ease-in-out;
}

.end-game__modal--content {
  width: 50%;
  min-height: 500px;
  background-color: rgba(204, 172, 172, 0.658);
  opacity: 1;
  animation: flade 3s ease-in-out;
}

@keyframes flade {
  0% {
    opacity: 0;
    transform: translate(-50%, -100%);
  } 25% {
    opacity: 1;
    transform: translate(-50%, -50%);
  } 75% {
    opacity: 1;
    transform: translate(-50%, -50%);
  } 100% {
    opacity: 0;
    transform: translate(-50%, 100%);
  }
}


.end-game__modl--text {
  color: #fff;
  font-size: 4.5rem;
  margin-bottom: 8rem;
}

.arrow-back {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 30px;
  left: 40px;
  color: #fff;
  font-size: 2.5rem;
  cursor: pointer;
}











